alembic
aniso8601
blinker
click
Flask==2.2.5
Flask-Cors
Flask-JWT-Extended
Flask-Migrate
Flask-RBAC
Flask-RESTful
Flask-Script
Flask-SQLAlchemy==3.0.2
greenlet
gunicorn
importlib-metadata
itsdangerous
Jinja2
Mako
MarkupSafe
packagin
PyJWT
pytz
Serializer
simplejson
six
SQLAlchemy
SQLAlchemy-serializer
typing_extensions
Werkzeug
zipp
